{
  "swagger": "2.0",
  "host": "api.robinhood.com",
  "schemes": [
    "https"
  ],
  "info": {
    "description": "API to interact with Robinhood",
    "title": "Robinhood API",
    "version": "unknown",
    "termsOfService": "TBD",
    "contact": {
      "name": "DavlinLotze",
      "url": "https://github.com/DavlinLotze/",
      "email": "DavlinLotze@users.noreply.github.com"
    },
    "license": {
      "name": "GNU GENERAL PUBLIC LICENSE",
      "url": "https://github.com/DavlinLotze/RobinhoodSwagger/blob/master/LICENSE"
    }
  },
  "basePath": "/",
  "paths": {
    "/fundamentals/{symbol}/": {
      "get": {
        "description": "API Method Description",
        "summary": "Short Summary of API Method",
        "externalDocs": {
          "description": "Find out more",
          "url": "https://github.com/DavlinLotze/RobinhoodSwagger"
        },
        "operationId": "uniqueId",
        "tags": [
          "symbol"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "open": {
                  "type": "string",
                  "minLength": 1
                },
                "high": {
                  "type": "string",
                  "minLength": 1
                },
                "low": {
                  "type": "string",
                  "minLength": 1
                },
                "volume": {
                  "type": "string",
                  "minLength": 1
                },
                "average_volume": {
                  "type": "string",
                  "minLength": 1
                },
                "high_52_weeks": {
                  "type": "string",
                  "minLength": 1
                },
                "dividend_yield": {
                  "type": "string",
                  "minLength": 1
                },
                "low_52_weeks": {
                  "type": "string",
                  "minLength": 1
                },
                "market_cap": {
                  "type": "string",
                  "minLength": 1
                },
                "pe_ratio": {},
                "description": {
                  "type": "string",
                  "minLength": 1
                },
                "instrument": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "open",
                "high",
                "low",
                "volume",
                "average_volume",
                "high_52_weeks",
                "dividend_yield",
                "low_52_weeks",
                "market_cap",
                "description",
                "instrument"
              ]
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "in": "path",
            "name": "symbol",
            "description": "stock symbol",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/user/basic_info/": {
      "get": {
        "description": "Retrieve basic user info, needs authorization",
        "summary": "Retrieve basic info",
        "externalDocs": {
          "description": "Find out more",
          "url": "https://github.com/DavlinLotze/RobinhoodSwagger"
        },
        "operationId": "symbol",
        "tags": [
          "api2swagger"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "401": {
            "description": "Unauthorized",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "detail": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "required": [
                "detail"
              ]
            }
          }
        },
        "security": [],
        "parameters": []
      }
    },
    "/markets/": {
      "get": {
        "description": "Returns information on markets",
        "summary": "Market information",
        "externalDocs": {
          "description": "Find out more",
          "url": "https://github.com/DavlinLotze/RobinhoodSwagger"
        },
        "operationId": "market",
        "tags": [
          "market"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "description": "",
              "type": "object",
              "properties": {
                "previous": {},
                "results": {
                  "type": "array",
                  "uniqueItems": true,
                  "minItems": 1,
                  "items": {
                    "required": [
                      "website",
                      "city",
                      "name",
                      "url",
                      "country",
                      "todays_hours",
                      "operating_mic",
                      "acronym",
                      "timezone",
                      "mic"
                    ],
                    "properties": {
                      "website": {
                        "type": "string",
                        "minLength": 1
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1
                      },
                      "url": {
                        "type": "string",
                        "minLength": 1
                      },
                      "country": {
                        "type": "string",
                        "minLength": 1
                      },
                      "todays_hours": {
                        "type": "string",
                        "minLength": 1
                      },
                      "operating_mic": {
                        "type": "string",
                        "minLength": 1
                      },
                      "acronym": {
                        "type": "string",
                        "minLength": 1
                      },
                      "timezone": {
                        "type": "string",
                        "minLength": 1
                      },
                      "mic": {
                        "type": "string",
                        "minLength": 1
                      }
                    }
                  }
                },
                "next": {}
              },
              "required": [
                "results"
              ]
            }
          }
        },
        "security": [],
        "parameters": []
      }
    }
  }
}
